image:
  repository: "vehiclesdashboardregistry.azurecr.io/apigateway"
  #repository: "apigateway"
  tag: "66"
  pullPolicy: "IfNotPresent"

replicas: 1
cluster:
  namespace: backend 
   
resources:
  requests:
    memory: 250Mi
    cpu: 40m
  limits:
    memory: 2Gi
    cpu: 1

env: {}
#  - name: "JAVA_OPTS2"
#    value: "-Dserver.port=8080"

service:
  name: apigateway
  type: ClusterIP
  internalPort: 80
  externalPort:  80
  annotations: {}