image:
  repository: "vehiclesdashboardregistry.azurecr.io/customermanager"
  tag: "52"
  pullPolicy: "IfNotPresent"

replicas: 1

resources:
  requests:
    memory: 250Mi
    cpu: 40m
  limits:
    memory: 2Gi
    cpu: 1

env: {}
#  - name: "JAVA_OPTS2"
#    value: "-Dserver.port=8080"


service:
  name: customermanager
  type: ClusterIP
  internalPort: 80
  externalPort:  8080
  ## Service annotations
  ##
  annotations: {}
