<main role="main" class="container">
    <div class="my-3 p-3 bg-white rounded shadow-sm">
        <input class="form-control mr-sm-2" style="width: 30%" type="text" name="CustomerNameFilter"
            placeholder="customer name" aria-label="customer name" [(ngModel)]="filteredName" />
        <select name="statusList" id="statusList"  [(ngModel)]="selectedVehicleStatus" class="form-control mr-sm-2"
            style="width: 30%">
            <option [(ngValue)]="status" *ngFor="let status of statutList">
                {{status}}</option>
        </select>
    </div>
    <div class="container" *ngFor="let customer of customers | customersfilter:filteredName">
        <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm" id="customerNameDev">
            <img class="mr-3" src="assets/customer.png" alt="" width="48" height="48">
            <div class="lh-100">
                <h6 class="mb-0 text-white lh-100">{{customer.name}}</h6>
                <small>{{customer.address}}</small>
            </div>
        </div>
        <div class="media text-muted pt-3"
            *ngFor="let vehicle of customer.vehicles |vehiclesfiliter:selectedVehicleStatus">
            <img src="assets/on.png" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                *ngIf="vehicle.status=='CONNECTED'" />
            <img src="assets/off.png" alt="32x32" class="mr-2 rounded" style="width: 32px; height: 32px;"
                *ngIf="vehicle.status=='DISCONNECTED'" />
            <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                <strong class="d-block text-gray-dark">{{vehicle.vehicleId}}</strong>
                {{vehicle.regNumber}} </p>
        </div>

    </div>

</main>